.about-page {
  background-color: var(--alto);
  padding: 50px 5px 50px;
}

.about-page__container {
  /* margin: 0 auto; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.about-page__title {
  font-weight: 400;
  font-size: 96px;
  color: var(--black);
  font-family: 'Unbounded', sans-serif;
  margin: 0 0 37px 0;
}

.about-page__list {
  /* max-width: 1900px; */
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 716px;
}

.about-page__item {
}

.about-page__item-wrapper {
  width: 100%;
  display: flex;
  gap: 50px;
  align-items: flex-end;
  /* justify-content: space-between; */
}

.about-page__image {
  width: 500px;
  height: 500px;
}

.about-page__desc {
  width: 100%;
  text-align: center;
}

.about-page__desc-title {
  font-weight: 400;
  font-size: 36px;
  color: var(--black);
  font-family: 'Neutral Face', sans-serif;
  margin-bottom: 71px;
}

.about-page__desc-link {
  display: block;
  font-weight: 400;
  font-size: 36px;
  color: var(--habrahabra);
  font-family: 'Unbounded', sans-serif;
}

.about-page__desc-subtitle {
  margin-bottom: 115px;
  text-align: center;
}
