html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
  text-decoration: none;
  box-sizing: border-box;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.container {
  margin: 0 auto;
  padding: 0 24px;
  max-width: 1900px;

  border: 1px solid red;
}

.header {
  background-color: rgb(167, 167, 178);
  padding: 27px 0;
}

.header__container {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.logo {
  margin: -28px 0 0 0;
  padding: 0;
  width: 410px;
  height: 105px;
}
.logo__header {
  align-items: center;
  /* margin-right: 250px; */
}

.header__navigation {
}

.navigation {
}

.navigation__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.navigation__item {
  padding-top: 20px;
}

.navigation__link {
  color: rgb(0, 0, 0);
  font-family: Neutral Face, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0;
  text-align: left;
}
/* -------------------- */
.hero {
  background-color: #c7c3c3;
  height: 500px;
}

.hero__container {
  height: 100%;
}

/* -------------------- */
.about {
  padding-top: 30px;
  padding-bottom: 68px;
  background-color: rgb(124, 147, 149);
}

.about__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about__title {
  margin-bottom: 63px;
  color: rgb(0, 0, 0);
  font-family: Unbounded, sans-serif;
  font-size: 48px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0%;
  text-align: left;
}

.about__description-wrapper {
  display: grid;
  align-items: center;
  grid-template-columns: minmax(150px, 716px) minmax(500px, 1fr);
  gap: 41px;
}

.about__card {
  height: 828px;
  width: 100%;
  background-color: #fff;
  border-radius: 28px;
}

.about__description {
  color: rgb(0, 0, 0);
  font-family: Gardens CM, sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0;
  text-align: center;
}

.about__detailed {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.about__link {
  display: flex;
  align-items: flex-end;

  color: rgb(0, 0, 0);
  font-family: Gardens CM, sans-serif;
  font-size: 55px;
  font-weight: 400;
  line-height: 55px;
  letter-spacing: 0;
}

.about__link-img {
  height: 58px;
  width: 61px;
}
