/* .about {
  padding-top: 30px;
  padding-bottom: 68px;
  background-color: rgb(124, 147, 149);
}

.about__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about__title {
  margin-bottom: 63px;
  color: rgb(0, 0, 0);
  font-family: Unbounded, sans-serif;
  font-size: 48px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0%;
  text-align: left;
}

.about__description-wrapper {
  display: grid;
  align-items: center;
  grid-template-columns: minmax(150px, 716px) minmax(500px, 1fr);
  gap: 41px;
}

.about__card {
  height: 828px;
  width: 100%;
  background-color: #fff;
  border-radius: 28px;
}

.about__description {
  color: rgb(0, 0, 0);
  font-family: Gardens CM, sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0;
  text-align: center;
}

.about__detailed {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.about__link {
  display: flex;
  align-items: flex-end;

  color: rgb(0, 0, 0);
  font-family: Gardens CM, sans-serif;
  font-size: 55px;
  font-weight: 400;
  line-height: 55px;
  letter-spacing: 0;
}

.about__link-img {
  height: 58px;
  width: 61px;
} */

.about {
  
}

.about__container {
}

.about__title {
}

.about__description-wrapper {
}

.about__description-image {
}

.about__description-text {
}

.about__link {
}

.about__link-images {
}
