/* .about {
  padding-top: 30px;
  padding-bottom: 68px;
  background-color: rgb(124, 147, 149);
}

.about__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about__title {
  margin-bottom: 63px;
  color: rgb(0, 0, 0);
  font-family: Unbounded, sans-serif;
  font-size: 48px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0%;
  text-align: left;
}

.about__description-wrapper {
  display: grid;
  align-items: center;
  grid-template-columns: minmax(150px, 716px) minmax(500px, 1fr);
  gap: 41px;
}

.about__card {
  height: 828px;
  width: 100%;
  background-color: #fff;
  border-radius: 28px;
}

.about__description {
  color: rgb(0, 0, 0);
  font-family: Gardens CM, sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0;
  text-align: center;
}

.about__detailed {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.about__link {
  display: flex;
  align-items: flex-end;

  color: rgb(0, 0, 0);
  font-family: Gardens CM, sans-serif;
  font-size: 55px;
  font-weight: 400;
  line-height: 55px;
  letter-spacing: 0;
}

.about__link-img {
  height: 58px;
  width: 61px;
} */

.about {
  padding-top: 30px;
  padding-bottom: 68px;
  background-color: var(--aquamarine);
}

.about__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about__title {
  margin-bottom: 63px;
  font-family: 'Unbounded', sans-serif;
  font-size: 48px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: left;
  text-transform: uppercase;
}

.about__description-wrapper {
  display: flex;
  align-items: center;
  gap: 41px;
}

.about__description-image {
  display: inline-block;
  max-width: 716px;
  height: auto;
  object-fit: cover;
  border-radius: 28px;
}

.about__description-text {
  font-family: 'Gardens CM', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 40px;
  text-align: center;
  color: var(--black);
}

.about__description-link {
  font-family: 'Neutral Face', sans-serif;
  text-decoration: underline;
}

.about__link {
  display: flex;
  font-family: 'Gardens CM', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 55px;
  line-height: 55px;
  align-self: flex-end;
  color: #000000;
}

.about__link-images:first-of-type {
  margin-left: 16px;
}

.about__link-images:last-of-type {
  margin-left: -30px;
}

@media (max-width: 1440px) {
  .about__description-image {
    width: 500px;
  }
}

@media (max-width: 1024px) {
  .about {
    padding-top: 40px;
    padding-bottom: 46px;
    background-color: var(--aquamarine);
  }

  .about__title {
    margin-bottom: 70px;
    font-family: 'Unbounded', sans-serif;
    font-size: 40px;
    font-weight: 400;
    line-height: 50px;
  }

  .about__description-image {
    display: flex;
    max-width: 360px;
    height: auto;
    object-fit: cover;
    border: 1px solid var(--black);
  }

  .about__description-text {
    font-family: 'Gardens CM', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 21px;
    text-align: center;
    color: var(--black);
  }

  .about__link {
    font-family: 'Gardens CM', sans-serif;
    font-size: 32px;
    line-height: 32.29px;
  }

  .about__link-images {
    width: 43px;
    height: 41px;
  }

  .about__link-images:first-of-type {
    margin-left: 10px;
  }

  .about__link-images:last-of-type {
    margin-left: -18px;
  }
}

@media (max-width: 650px) {
  .about__description-image {
    display: flex;
    max-width: 200px;
    height: auto;
    object-fit: cover;
    border: 1px solid var(--black);
  }

  .about__description-wrapper {
    gap: 22px;
  }

  .about__description-text {
    font-size: 10px;
    line-height: 10.3px;
  }

  .about__link {
    font-size: 16px;
    line-height: 16.13px;
  }

  .about__link-images {
    width: 18px;
    height: 17px;
  }

  .about__link-images:first-of-type {
    margin-left: 2px;
  }

  .about__link-images:last-of-type {
    margin-left: -8px;
  }
}

@media (max-width: 400px) {
  .about {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: var(--aquamarine);
  }

  .about__title {
    margin-bottom: 12px;
    font-size: 16px;
    line-height: 20px;
  }

  .about__description-image {
    display: flex;
    max-width: 105px;
    height: auto;
    object-fit: cover;
    border: none;
    margin-bottom: 5px;
  }

  .about__description-text {
    font-size: 8px;
    line-height: 8.3px;
  }

  .about__link {
    font-family: 'Gardens CM', sans-serif;
    font-size: 14px;
    line-height: 14.13px;
  }

  .about__link-images {
    width: 18px;
    height: 17px;
  }

  .about__link-images:first-of-type {
    margin-left: 2px;
  }

  .about__link-images:last-of-type {
    margin-left: -8px;
  }
}
