.cases {
  padding: 42px 0 52px;
  background-color: var(--granny-smith-bg);
}

.cases__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-between; */
}

.cases__title {
  margin-bottom: 170px;
  font-family: 'Unbounded', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 40px;
  color: var(--black);
}

.cases__list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-self: center;
  gap: 50px;
}

.cases__item {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  text-transform: uppercase;
}

.cases__item-images {
  margin-bottom: 45px;
}

.cases__item-titile {
  font-family: 'Neutral Face', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 20px;
  color: var(--black);
  margin-bottom: 59px;
}

.cases__item-subtitle {
  font-family: 'Neutral Face';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 20px;
  color: var(--black);
  margin-bottom: 74px;
}

.cases__link {
  font-family: 'Gardens CM', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 55px;
  line-height: 55px;

  color: var(--white);
  display: flex;
  align-self: flex-end;

  border: 1px solid transparent;
}

.cases__link span {
  margin-right: 35px;
}

.cases__link-images {
  stroke: var(--white);
  margin-left: -15px;
}

/* медиа запросы */
@media (max-width: 1440px) {
  .cases__title {
    margin-bottom: 152px;
    font-size: 40px;
  }

  .cases__list {
    padding: 0 73px;
    gap: 100px;
  }

  .cases__item-images {
    margin-bottom: 34px;
  }

  .cases__item-titile {
    font-size: 24px;
    margin-bottom: 34px;
  }

  .cases__item-subtitle {
    font-size: 24px;
    margin-bottom: 54px;
  }

  .cases__link {
    font-size: 24px;
    align-items: center;
  }

  .cases__link span {
    margin-right: 20px;
  }

  .cases__link-images {
    width: 30px;
    height: 30px;
    margin-left: -10px;
  }
}

@media (max-width: 880px) {
  .cases__title {
    margin-bottom: 102px;
    font-size: 40px;
  }

  .cases__list {
    padding: 0 20px;
    gap: 80px;
  }

  .cases__item-images {
    margin-bottom: 34px;
  }

  .cases__item-titile {
    font-size: 18px;
    margin-bottom: 34px;
  }

  .cases__item-subtitle {
    font-size: 18px;
    margin-bottom: 34px;
  }

  .cases__link {
    font-size: 22px;
    align-items: center;
  }

  .cases__link-images {
    width: 30px;
  }
}

@media (max-width: 600px) {
  .cases {
    padding: 5px 0 7px;
  }

  .cases__title {
    margin-bottom: 10px;
    font-size: 16px;
  }

  .cases__list {
    padding: 0;
    gap: 20px;
  }

  .cases__item-images {
    margin-bottom: 13px;
  }

  .cases__item-titile {
    font-size: 9px;
    margin-bottom: 11px;
  }

  .cases__item-subtitle {
    font-size: 9px;
    margin-bottom: 11px;
  }

  .cases__link {
    padding: 0;
    margin: 0;
    display: flex;
    font-size: 14px;
    line-height: 15px;
  }

  .cases__link span {
    margin-right: 7px;
  }

  .cases__link-images {
    width: 18px;
    height: 18px;
    margin-left: -6px;
  }
}
