html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
  text-decoration: none;
  box-sizing: border-box;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.container {
  margin: 0 auto;
  padding: 0 24px;
  max-width: 1900px;

  border: 1px solid red;
}

@media (max-width: 455px) {
  .container {
    margin: 0 auto;
    padding: 0 10px;
    max-width: 1900px;
  }
}