.footer {
  background-color: #2e2e2e;
  padding: 10px 0 10px;
}

.footer__container {
  display: grid;
  grid-template-areas:
    'contact logo'
    'contact developers';
  color: #fff;
  /* justify-content: start; */
  align-items: center;
  /* gap: 20px 50px; */
}

.footer__img {
  margin-right: 100px;
  object-fit: cover;
}

.footer__contact {
  display: flex;
  grid-area: contact;
  justify-content: left;
  /* align-self: flex-start; */
  align-items: center;
  font-family: Gardens CM, sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
}

/* .footer__contact_tel {
  margin-top: 50px;
} */

.footer__logo {
  grid-area: logo;
  justify-self: end;
  margin-bottom: 20px;
}

.footer__developers {
  display: flex;
  flex-direction: column;
  grid-area: developers;
  justify-self: end;
  padding-right: 150px;
  font-family: Gardens CM, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  color: #968686;
  gap: 10px;
}

/* .footer__developers-designer {
} */

.footer__developers-link {
  color: #c5a6a6;
}

@media (max-width: 1024px) {
  .footer__img {
    width: 100px;
    height: 100px;
    margin-right: 80px;
  }

  .footer__contact {
    justify-content: left;
    font-size: 36px;
    line-height: 36px;
  }

  .footer__logo {
    margin-bottom: 10px;
    width: 232px;
    height: 70px;
  }

  .footer__developers {
    justify-self: end;
    padding-right: 30px;
    font-size: 14px;
    line-height: 14px;
    gap: 5px;
  }

  .footer__developers-link {
    color: #c5a6a6;
  }
}

@media (max-width: 768px) {
  .footer__img {
    width: 100px;
    height: 100px;
    margin-right: 40px;
  }

  .footer__contact {
    margin-right: 10px;
    justify-content: left;
    font-size: 26px;
    line-height: 26px;
  }

  .footer__logo {
    margin-bottom: 10px;
    width: 180px;
    height: 50px;
  }

  .footer__developers {
    justify-self: end;
    padding-right: 10px;
    font-size: 12px;
    line-height: 12px;
    gap: 5px;
  }
}

@media (max-width: 590px) {
  .footer__img {
    width: 60px;
    height: 60px;
    margin-right: 5px;
  }

  .footer__contact {
    margin-right: 10px;
    justify-content: left;
    font-size: 26px;
    line-height: 26px;
  }

  .footer__logo {
    margin-bottom: 10px;
    justify-self: end;
    width: 100px;
    height: 30px;
  }

  .footer__developers {
    max-width: 150px;
    justify-self: end;
    padding-right: 0;
    font-size: 8px;
    line-height: 8px;
    gap: 5px;
  }
}

@media (max-width: 450px) {
  .footer__img {
    width: 40px;
    height: 40px;
    margin-right: 5px;
  }

  .footer__contact {
    font-size: 11px;
    line-height: 11px;
  }

  .footer__logo {
    justify-self: start;
  }
}
