.header {
  background-color: rgb(167, 167, 178);
  padding: 30px 0 30px;
}

.header__container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.header__logo-wrapper {
  margin-right: 20px;
  max-width: 450px;
}

.header__logo {
  display: flex;
  height: 70px;
  object-fit: contain;
}

.logo {
  display: flex;
  width: 100%;
  padding-right: 3px;
}

.navigation {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.navigation__list {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 20px;
  align-items: center;
  justify-content: space-evenly;
  font-family: 'Neutral Face', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: #000000;
  text-transform: uppercase;
}

@media (max-width: 1024px) {
  .header {
    padding: 17px 0 17px;
  }

  .header__logo-wrapper {
    max-width: 151px;
  }

  .header__logo {
    height: 40px;
  }

  .navigation {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .navigation__list {
    gap: 15px;

    align-items: center;
    justify-content: space-evenly;
    font-weight: 400;
    font-size: 16px;
    line-height: 16.61px;
    color: #000000;
    text-transform: uppercase;
  }

  .navigation__item {
    margin-top: 10px;
  }

  .navigation__link {
    margin-top: 10px;
  }
}

@media (max-width: 690px) {
  .header__logo-wrapper {
    max-width: 151px;
  }

  .header__logo {
    height: 40px;
  }

  .navigation {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .navigation__list {
    font-size: 14px;
    line-height: 14px;
  }
}

@media (max-width: 510px) {
  .navigation__list {
    font-size: 10px;
    line-height: 10px;
  }
}

@media (max-width: 455px) {
  .header {
    background-color: rgb(167, 167, 178);
    padding: 5px 0 5px;
  }

  .header__logo-wrapper {
    width: 81px;
  }

  .header__logo {
    height: 21px;
  }

  .navigation__item {
    margin-top: 5px;
  }

  .navigation__list {
    font-size: 6px;
    line-height: 6px;
  }
}
