.hero {
  background-color: #c7c3c3;
}

.hero__container {
  width: 100%;
  height: 950px;
}

@media (max-width: 1024px) {
  .hero__container {
    height: 693px;
  }
}

@media (max-width: 480px) {
  .hero__container {
    height: 165px;
  }
}
