@import url('../style/normalize.css');

@import url('../style/root.css');

@import url('../style/default.css');

@import url('../style/header.css');

@import url('../style/hero.css');

@import url('../style/about.css');

@import url('../style/services.css');

@import url('../style/cases.css');

@import url('../style/contacts.css');

@import url('../style/footer.css');

/* @import url('../style/style.css');
@import url('../style/style.css');

@import url('../style/style.css');
@import url('../style/style.css'); */
