:root {
  --jungle-ist: #b7cfd3;
  --aquamarine: #d1edf3;
  --black: #000;
  --half-baked: #82c2cf;
  --alto: #d9d9d9;
  --bg-header: #a7a7b2;
  --white: #ffffff;
  --habrahabra: #6eadba;
  --tamarillo: #9c1212;
  --mine-shaft: #2e2e2e;
  --granny-smith-bg: #92a5a9;
  --turquoise-blue: #3d7986;
  --iron: #d4d4d4;
}

/* Habrahabra gradient */
/*background: linear-gradient(180deg, #BADAE0 0%, #6EADBA 100%);*/
