.services {
  background-color: #fff;
  padding: 54px 0 146px;
}

.services__container {
  display: flex;
  flex-direction: column;
  min-width: 0;
  justify-content: center;
}

.services__title {
  text-align: center;
  margin-bottom: 290px;
  font-family: 'Unbounded', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 40px;
  color: #000;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  /* text-align: center; */
  font-size: 18px;
  background: #fff;
  display: flex;
  /* justify-content: center;  */
  /* align-items: center; */
  width: 392px;
  height: 551px;
}

.swiper-slide .content-card {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 32px;
  overflow: hidden;
}
